<h1>Log In Below:</h1>

<form method="POST" action="/sessions">

  <label>Email:</label>
  <input id="email" type="text" name="email">

  <br/>

  <label>Password:</label>
  <input id="password" type="password" name="password">

  <br/>

  <br/>

  <button id="login" type="submit" value="login">Log In</button>

  <br/>

</form>

