<h1>Log In Below:</h1>
<br>
<form action="/sessions" method="post">
<label for="email"> Email: </label><input type="text" name="email" id="email">
<label for="password"> Pswd: </label><input type="text" name="password" id="password">
<br>
<input type="submit" value="Log In">
</form>

